<h3>Planning your next vacation</h3>
<form action="/planning/add" method="POST">
<div>
  <label for="city">Select cities:</label>
<select name="city" id="city">
  {{#each cities}}
  <option value={{city._id}}>{{city.name}}</option>
  {{/each}}
</select>
</div>
<div>
<label for="travelers">Number of travelers:</label>
<input type="number" id="travelers" name="travelers" min="1" placeholder="1" required>
</div>
<div>
<label for="budget">Your budget(€):</label>
<input type="number" id="budget" name="budget" min="0" placeholder="100" required>
</div>
<div>
<label for="from">From:</label>
<input type="date" id="from" name="from" required>
<label for="to">To:</label>
<input type="date" id="to" name="to" required>
</div>

<button type="submit">add new plan</button>
</form>

