<div class="login">
  <div class="container">
   <div class="item">
<h1>Welcome to {{title}}</h1>
</div>
<div class="item">
<h2>Sign Up</h2>
</div>
<div class="item">
<form action="/signup" method="POST" id="form-container">
  {{!-- <label for="username" >Username</label> --}}
  <input type="text" name="username" placeholder="username" required>
  {{!-- <label for="password">Password</label> --}}
  <input type="password" name="password" placeholder="password" required>

{{#if message}}
  <p style='color: red'>{{message}}</p>
{{/if}}
  <button id="createBtn" type="submit">Create account</button>
 <p class="account-message">
  Do you already have an account?
  <a href="/login" style='color: red'>Login</a>
 </p>

 {{#unless user}}
    <a href="/auth/google" style='color: red'>Login With Google</a>
{{/unless}}
</form>
</div>
</div>
</div>